In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df_male = pd.read_excel('POPULATION_BY_AGE_MALE.xlsx', sheetname = 'MEDIUM VARIANT', skiprows=16)
df_male

,Index,Variant,"Region, subregion, country or area *",Notes,Country code,Reference date (as of 1 July),0-4,5-9,10-14,15-19,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,1,Medium variant,WORLD,NaN,900,2015,348221.888,333213.905,316713.711,306451.943,...,168252.972,143542.645,103387.823,71641.953,51048.040,29594.038,13818.357,4214.034,761.731,88.819
1,2,Medium variant,WORLD,NaN,900,2020,350793.266,344607.218,331454.368,314900.563,...,192741.029,156915.936,129043.284,87773.884,55399.259,34504.258,16411.617,5658.474,1137.989,125.875
2,3,Medium variant,WORLD,NaN,900,2025,350111.588,347684.408,342976.374,329770.152,...,213084.987,180572.952,141719.037,110157.239,68865.828,38256.745,19584.533,6919.025,1574.112,190.677
3,4,Medium variant,WORLD,NaN,900,2030,349896.784,347216.224,346254.209,341472.489,...,224077.333,200417.366,164007.891,121816.965,86970.043,48477.774,22311.742,8485.276,1982.622,271.453
4,5,Medium variant,WORLD,NaN,900,2035,351676.033,347226.462,345851.635,344869.314,...,227300.399,211191.882,183048.281,142137.439,97309.231,61723.837,28982.316,9985.904,2495.479,352.469
5,6,Medium variant,WORLD,NaN,900,2040,355087.535,349257.231,345974.603,344530.723,...,249569.551,214448.664,193506.491,159804.255,114798.891,70182.707,37283.536,13355.872,3033.788,451.337
6,7,Medium variant,WORLD,NaN,900,2045,358360.792,352885.640,348093.550,344726.538,...,277995.254,236092.849,196942.471,169864.735,130392.284,84031.322,43312.946,17432.343,4181.182,561.921
7,8,Medium variant,WORLD,NaN,900,2050,359654.865,356361.270,351805.599,346913.686,...,274388.058,263970.572,217653.202,173557.816,139774.284,96678.370,52830.629,20827.447,5576.983,777.280
8,9,Medium variant,WORLD,NaN,900,2055,358622.874,357864.256,355369.685,350694.697,...,271309.753,260969.239,244593.277,192871.876,143767.192,104857.859,61805.614,26040.583,6892.160,1068.545
9,10,Medium variant,WORLD,NaN,900,2060,356417.782,357012.496,356952.930,354323.852,...,280594.296,258394.440,242388.876,218258.563,161014.517,108843.452,68089.965,31154.460,8902.725,1380.428
10,11,Medium variant,WORLD,NaN,900,2065,354901.265,354966.252,356176.725,355972.103,...,295854.272,267771.669,240447.929,217066.841,183915.920,123134.177,71543.392,35077.399,10984.980,1845.778
11,12,Medium variant,WORLD,NaN,900,2070,353838.429,353589.609,354200.021,355258.910,...,308182.117,283003.313,249840.392,215867.085,183885.812,142321.864,81974.632,37510.825,12737.858,2384.218
12,13,Medium variant,WORLD,NaN,900,2075,352544.958,352649.668,352885.186,353341.931,...,312685.604,295477.907,264937.328,225137.869,183525.853,143328.016,96178.322,43720.910,13948.792,2899.632
13,14,Medium variant,WORLD,NaN,900,2080,350263.461,351467.647,352001.419,352082.772,...,313732.148,300361.852,277495.518,239841.414,192343.482,143678.782,97814.745,52265.032,16627.615,3322.141
14,15,Medium variant,WORLD,NaN,900,2085,346743.534,349280.942,350869.303,351248.538,...,315361.312,301902.684,282848.852,252352.602,206205.949,151526.194,98666.925,53962.954,20367.975,4036.373
15,16,Medium variant,WORLD,NaN,900,2090,342333.006,345849.170,348731.034,350164.837,...,318907.514,304028.961,285031.866,258237.447,218338.168,163811.599,104943.369,55047.140,21471.984,5072.150
16,17,Medium variant,WORLD,NaN,900,2095,337621.054,341520.908,345345.275,348075.915,...,323988.885,308037.251,287784.007,261179.145,224657.982,174858.330,114683.290,59269.261,22296.439,5653.500
17,18,Medium variant,WORLD,NaN,900,2100,332966.780,336885.344,341061.137,344738.526,...,328954.462,313581.301,292389.616,264699.664,228420.975,181299.737,123769.776,65783.463,24465.853,6108.360
18,19,Medium variant,More developed regions,a,901,2015,35451.636,35766.442,34400.966,35330.488,...,41114.944,36718.574,31298.055,22588.139,18302.115,11781.705,6422.923,2117.729,360.323,39.298
19,20,Medium variant,More developed regions,a,901,2020,35276.029,35670.326,35960.765,34945.899,...,42369.289,38794.899,33789.921,27935.957,19004.160,13649.633,7251.104,2823.794,566.736,49.212
20,21,Medium variant,More developed regions,a,901,2025,34756.050,35471.373,35847.934,36470.481,...,40661.052,40197.496,35922.045,30249.408,23780.814,14638.572,8616.563,3323.009,784.510,78.060
21,22,Medium variant,More developed regions,a,901,2030,33951.040,34964.354,35657.367,36383.642,...,40803.024,38822.295,37490.971,32426.566,25882.801,18633.224,9609.141,4075.507,962.943,112.886
22,23,Medium variant,More developed regions,a,901,2035,33534.447,34163.019,35153.084,36198.130,...,39984.612,39043.500,36498.049,34161.580,28070.214,20476.684,12535.146,4749.841,1221.679,145.052
23,24,Medium variant,More developed regions,a,901,2040,33812.625,33748.938,34354.224,35698.563,...,40948.166,38347.382,36812.599,33597.318,29953.499,22575.588,14002.066,6391.501,1484.421,189.213
24,25,Medium variant,More developed regions,a,901,2045,34287.917,34028.638,33941.665,34903.554,...,41693.216,39369.985,36275.847,34032.156,29860.654,24514.647,15791.197,7300.242,2066.742,237.728
25,26,Medium variant,More developed regions,a,901,2050,34486.302,34504.962,34222.166,34494.052,...,39679.348,40202.054,37364.897,33675.414,30425.573,24852.895,17539.591,8460.956,2418.078,336.506
26,27,Medium variant,More developed regions,a,901,2055,34344.527,34692.885,34689.225,34747.833,...,36825.600,38466.887,38289.407,34823.466,30267.314,25536.148,18156.016,9657.109,2878.411,410.159
27,28,Medium variant,More developed regions,a,901,2060,34007.092,34540.696,34867.652,35187.482,...,36621.823,35851.118,36888.429,35843.417,31468.710,25604.962,18902.064,10263.595,3384.814,498.805
28,29,Medium variant,More developed regions,a,901,2065,33721.206,34192.889,34706.008,35338.653,...,38218.949,35717.314,34563.130,34827.529,32579.638,26837.661,19185.034,10902.780,3711.293,602.977
29,30,Medium variant,More developed regions,a,901,2070,33658.195,33896.333,34348.928,35149.941,...,38220.216,37328.575,34519.573,32858.151,32016.373,28029.007,20375.125,11266.073,4060.247,689.273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4308,4309,Medium variant,Samoa,NaN,882,2045,12.078,12.322,12.088,11.091,...,3.883,3.649,3.489,3.250,2.618,1.552,0.783,0.258,0.050,0.007
4309,4310,Medium variant,Samoa,NaN,882,2050,11.372,11.912,12.215,11.580,...,5.238,3.685,3.357,3.068,2.720,1.972,0.987,0.386,0.088,0.011
4310,4311,Medium variant,Samoa,NaN,882,2055,10.802,11.215,11.811,11.734,...,6.029,5.016,3.422,2.992,2.615,2.106,1.307,0.515,0.140,0.020
4311,4312,Medium variant,Samoa,NaN,882,2060,10.604,10.654,11.121,11.357,...,6.433,5.804,4.709,3.084,2.589,2.072,1.442,0.713,0.201,0.034
4312,4313,Medium variant,Samoa,NaN,882,2065,10.572,10.464,10.564,10.691,...,7.937,6.219,5.488,4.299,2.702,2.087,1.456,0.818,0.293,0.053
4313,4314,Medium variant,Samoa,NaN,882,2070,10.417,10.442,10.382,10.161,...,7.517,7.703,5.910,5.051,3.803,2.209,1.498,0.851,0.350,0.082
4314,4315,Medium variant,Samoa,NaN,882,2075,9.966,10.295,10.364,10.004,...,6.947,7.313,7.358,5.475,4.505,3.146,1.614,0.899,0.377,0.107
4315,4316,Medium variant,Samoa,NaN,882,2080,9.343,9.853,10.223,10.010,...,6.984,6.768,7.007,6.859,4.915,3.767,2.335,0.990,0.412,0.124
4316,4317,Medium variant,Samoa,NaN,882,2085,8.752,9.239,9.783,9.894,...,7.420,6.816,6.502,6.562,6.199,4.152,2.837,1.463,0.467,0.142
4317,4318,Medium variant,Samoa,NaN,882,2090,8.351,8.654,9.175,9.482,...,8.099,7.256,6.566,6.112,5.962,5.280,3.168,1.814,0.710,0.167
4318,4319,Medium variant,Samoa,NaN,882,2095,8.085,8.263,8.598,8.898,...,8.451,7.935,7.009,6.198,5.584,5.122,4.082,2.064,0.902,0.248
4319,4320,Medium variant,Samoa,NaN,882,2100,7.838,8.005,8.212,8.345,...,8.288,8.296,7.690,6.643,5.694,4.837,4.009,2.708,1.054,0.337
4320,4321,Medium variant,Tonga,NaN,776,2015,6.629,6.871,6.716,6.015,...,1.827,1.103,0.845,0.708,0.525,0.298,0.142,0.037,0.007,0.001
4321,4322,Medium variant,Tonga,NaN,776,2020,6.311,6.497,6.802,6.545,...,1.729,1.641,0.932,0.662,0.500,0.315,0.140,0.047,0.009,0.001
4322,4323,Medium variant,Tonga,NaN,776,2025,6.438,6.183,6.428,6.634,...,1.967,1.554,1.405,0.739,0.473,0.304,0.149,0.046,0.010,0.001
4323,4324,Medium variant,Tonga,NaN,776,2030,6.760,6.311,6.116,6.262,...,2.318,1.782,1.343,1.127,0.532,0.292,0.147,0.051,0.010,0.001
4324,4325,Medium variant,Tonga,NaN,776,2035,7.003,6.635,6.247,5.952,...,2.127,2.114,1.555,1.088,0.822,0.335,0.143,0.050,0.011,0.001
4325,4326,Medium variant,Tonga,NaN,776,2040,7.002,6.879,6.570,6.082,...,2.196,1.950,1.859,1.274,0.806,0.523,0.168,0.051,0.011,0.001
4326,4327,Medium variant,Tonga,NaN,776,2045,6.728,6.880,6.815,6.406,...,2.092,2.023,1.728,1.540,0.957,0.523,0.271,0.061,0.012,0.001
4327,4328,Medium variant,Tonga,NaN,776,2050,6.378,6.608,6.817,6.649,...,3.086,1.937,1.807,1.448,1.175,0.633,0.277,0.103,0.015,0.002
4328,4329,Medium variant,Tonga,NaN,776,2055,6.185,6.264,6.548,6.662,...,3.646,2.883,1.744,1.533,1.123,0.795,0.345,0.110,0.026,0.002
4329,4330,Medium variant,Tonga,NaN,776,2060,6.204,6.080,6.206,6.401,...,4.175,3.430,2.617,1.495,1.206,0.775,0.447,0.143,0.029,0.004
4330,4331,Medium variant,Tonga,NaN,776,2065,6.240,6.103,6.027,6.069,...,4.302,3.948,3.138,2.268,1.195,0.852,0.449,0.192,0.039,0.005
4331,4332,Medium variant,Tonga,NaN,776,2070,6.135,6.144,6.053,5.897,...,4.015,4.090,3.640,2.750,1.844,0.864,0.510,0.202,0.058,0.007
4332,4333,Medium variant,Tonga,NaN,776,2075,5.863,6.047,6.099,5.933,...,3.787,3.833,3.799,3.225,2.273,1.364,0.534,0.239,0.064,0.011
4333,4334,Medium variant,Tonga,NaN,776,2080,5.531,5.780,6.004,5.985,...,3.992,3.630,3.583,3.402,2.705,1.717,0.870,0.262,0.079,0.014
4334,4335,Medium variant,Tonga,NaN,776,2085,5.263,5.455,5.740,5.898,...,4.400,3.843,3.416,3.239,2.893,2.085,1.128,0.448,0.094,0.018
4335,4336,Medium variant,Tonga,NaN,776,2090,5.122,5.194,5.417,5.643,...,4.755,4.253,3.634,3.115,2.790,2.274,1.409,0.601,0.167,0.023
4336,4337,Medium variant,Tonga,NaN,776,2095,5.036,5.057,5.159,5.331,...,4.882,4.610,4.044,3.340,2.713,2.228,1.572,0.778,0.237,0.041
4337,4338,Medium variant,Tonga,NaN,776,2100,4.915,4.979,5.026,5.080,...,4.745,4.746,4.402,3.739,2.936,2.197,1.574,0.895,0.320,0.064

In [4]:
df_CM = df_male[df_male['Region, subregion, country or area *']=='China']

In [5]:
df_CM.drop(df_CM.columns[[0, 1, 2, 3, 4]], axis=1, inplace=True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
df_CM.rename(columns={'Reference date (as of 1 July)': 'Year'}, inplace=True)
df_CM

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

,Year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
1386,2015,46089.344,44359.236,42252.351,42956.148,53345.006,67067.186,52460.596,49280.467,60763.505,...,40669.664,40104.334,26065.709,17274.443,11940.843,6545.361,2575.173,685.612,129.395,13.177
1387,2020,43199.134,45980.113,44278.570,42103.530,42694.355,53009.946,66661.277,52110.362,48887.953,...,50675.702,38725.259,36629.613,22079.060,12880.053,7561.578,3310.055,925.312,165.116,21.108
1388,2025,38997.820,43105.395,45904.521,44133.147,41857.727,42412.844,52686.543,66263.434,51726.069,...,60509.315,48420.038,35599.462,31393.485,16786.658,8369.207,3937.388,1227.534,228.792,27.727
1389,2030,36046.707,38919.225,43040.202,45764.577,43893.455,41590.248,42144.729,52375.522,65820.771,...,57823.191,58010.997,44794.744,30858.699,24326.665,11190.012,4489.242,1509.360,312.531,38.532
1390,2035,34477.991,35979.226,38863.766,42908.664,45529.042,43630.380,41336.769,41894.380,52036.242,...,46679.720,55616.306,53997.775,39259.221,24357.498,16630.445,6185.503,1781.332,396.795,53.368
1391,2040,33913.727,34417.347,35930.664,38741.140,42684.075,45270.948,43381.490,41102.569,41628.664,...,49560.164,45039.593,52077.711,47835.601,31555.465,17076.080,9482.847,2547.251,485.964,69.658
1392,2045,33550.911,33857.495,34373.647,35814.723,38528.900,42440.985,45028.143,43151.772,40855.391,...,63272.945,47970.104,42420.456,46622.477,39143.123,22689.187,10054.395,4062.547,724.260,87.950
1393,2050,32547.114,33498.101,33816.969,34262.310,35610.869,38301.406,42215.617,44804.401,42909.125,...,50147.138,61429.722,45432.821,38357.413,38807.756,28845.432,13794.118,4486.171,1207.551,132.073
1394,2055,30894.134,32498.913,33460.664,33712.276,34072.075,35402.014,38099.793,42015.024,44570.850,...,40208.842,48821.680,58490.389,41478.851,32467.789,29317.122,18138.872,6435.784,1404.081,225.995
1395,2060,29211.766,30850.578,32464.897,33362.753,33533.882,33878.715,35219.858,37923.898,41808.151,...,39559.785,39248.883,46716.116,53887.461,35670.247,25115.987,19051.731,8846.691,2122.843,286.030
1396,2065,28165.961,29172.357,30819.905,32373.463,33195.551,33353.374,33711.456,35063.634,37745.865,...,41651.265,38708.232,37723.350,43390.050,47007.004,28196.139,16827.209,9689.140,3069.095,439.643
1397,2070,27632.419,28130.068,29144.872,30735.528,32217.671,33027.141,33198.297,33569.701,34907.425,...,43363.092,40840.985,37348.338,35284.904,38323.000,37872.355,19413.325,8890.151,3522.487,665.502
1398,2075,27308.825,27599.053,28105.042,29066.789,30591.251,32061.457,32883.070,33067.217,33428.678,...,40753.956,42596.191,39536.229,35143.462,31495.075,31384.161,26703.039,10608.798,3371.502,823.610
1399,2080,26797.441,27277.819,27575.917,28032.812,28933.828,30448.136,31929.332,32762.087,32937.891,...,36856.719,40090.708,41345.357,37382.875,31640.257,26140.309,22568.036,15010.581,4169.046,851.524
1400,2085,26011.296,26768.875,27256.462,27509.228,27910.179,28802.911,30328.326,31819.226,32643.059,...,34138.635,36299.857,38999.700,39252.996,33904.539,26568.178,19128.172,13015.211,6096.697,1051.709
1401,2090,25117.220,25985.004,26749.345,27194.912,27396.440,27790.231,28694.459,30229.614,31711.587,...,32742.654,33656.655,35378.368,37153.631,35823.829,28753.861,19735.638,11281.031,5443.092,1541.983
1402,2095,24342.745,25093.463,25967.359,26693.251,27091.767,27287.088,27691.987,28606.428,30134.420,...,32309.667,32310.098,32857.166,33807.351,34096.282,30652.987,21651.369,11879.671,4847.347,1549.779
1403,2100,23793.490,24321.155,25077.690,25916.522,26599.567,26992.207,27198.255,27612.978,28522.545,...,32066.836,31912.641,31596.407,31496.066,31201.165,29442.855,23412.139,13319.707,5257.586,1464.686

In [7]:
df_2020M = df_CM[df_CM['Year'] == 2020].transpose().reset_index()
df_2020M

    index       1387
0    Year   2020.000
1     0-4  43199.134
2     5-9  45980.113
3   10-14  44278.570
4   15-19  42103.530
5   20-24  42694.355
6   25-29  53009.946
7   30-34  66661.277
8   35-39  52110.362
9   40-44  48887.953
10  45-49  60121.819
11  50-54  62069.973
12  55-59  50675.702
13  60-64  38725.259
14  65-69  36629.613
15  70-74  22079.060
16  75-79  12880.053
17  80-84   7561.578
18  85-89   3310.055
19  90-94    925.312
20  95-99    165.116
21   100+     21.108

In [8]:
df_2020M.rename(columns={'index': 'Age', 1387: '2020'}, inplace=True)
df_2020M

      Age       2020
0    Year   2020.000
1     0-4  43199.134
2     5-9  45980.113
3   10-14  44278.570
4   15-19  42103.530
5   20-24  42694.355
6   25-29  53009.946
7   30-34  66661.277
8   35-39  52110.362
9   40-44  48887.953
10  45-49  60121.819
11  50-54  62069.973
12  55-59  50675.702
13  60-64  38725.259
14  65-69  36629.613
15  70-74  22079.060
16  75-79  12880.053
17  80-84   7561.578
18  85-89   3310.055
19  90-94    925.312
20  95-99    165.116
21   100+     21.108

In [9]:
df_2020M.drop(df_2020M.index[0], inplace=True)
df_2020M

      Age       2020
1     0-4  43199.134
2     5-9  45980.113
3   10-14  44278.570
4   15-19  42103.530
5   20-24  42694.355
6   25-29  53009.946
7   30-34  66661.277
8   35-39  52110.362
9   40-44  48887.953
10  45-49  60121.819
11  50-54  62069.973
12  55-59  50675.702
13  60-64  38725.259
14  65-69  36629.613
15  70-74  22079.060
16  75-79  12880.053
17  80-84   7561.578
18  85-89   3310.055
19  90-94    925.312
20  95-99    165.116
21   100+     21.108

In [10]:
df_2030M = df_CM[df_CM['Year'] == 2030].transpose().reset_index()
df_2030M

    index       1389
0    Year   2030.000
1     0-4  36046.707
2     5-9  38919.225
3   10-14  43040.202
4   15-19  45764.577
5   20-24  43893.455
6   25-29  41590.248
7   30-34  42144.729
8   35-39  52375.522
9   40-44  65820.771
10  45-49  51249.264
11  50-54  47713.338
12  55-59  57823.191
13  60-64  58010.997
14  65-69  44794.744
15  70-74  30858.699
16  75-79  24326.665
17  80-84  11190.012
18  85-89   4489.242
19  90-94   1509.360
20  95-99    312.531
21   100+     38.532

In [11]:
df_2030M.rename(columns={'index': 'Age', 1389: '2030'}, inplace=True)
df_2030M

      Age       2030
0    Year   2030.000
1     0-4  36046.707
2     5-9  38919.225
3   10-14  43040.202
4   15-19  45764.577
5   20-24  43893.455
6   25-29  41590.248
7   30-34  42144.729
8   35-39  52375.522
9   40-44  65820.771
10  45-49  51249.264
11  50-54  47713.338
12  55-59  57823.191
13  60-64  58010.997
14  65-69  44794.744
15  70-74  30858.699
16  75-79  24326.665
17  80-84  11190.012
18  85-89   4489.242
19  90-94   1509.360
20  95-99    312.531
21   100+     38.532

In [12]:
df_2030M.drop(df_2030M.index[0], inplace=True)
df_2030M

      Age       2030
1     0-4  36046.707
2     5-9  38919.225
3   10-14  43040.202
4   15-19  45764.577
5   20-24  43893.455
6   25-29  41590.248
7   30-34  42144.729
8   35-39  52375.522
9   40-44  65820.771
10  45-49  51249.264
11  50-54  47713.338
12  55-59  57823.191
13  60-64  58010.997
14  65-69  44794.744
15  70-74  30858.699
16  75-79  24326.665
17  80-84  11190.012
18  85-89   4489.242
19  90-94   1509.360
20  95-99    312.531
21   100+     38.532

In [13]:
df_2040M = df_CM[df_CM['Year'] == 2040].transpose().reset_index()
df_2040M

    index       1391
0    Year   2040.000
1     0-4  33913.727
2     5-9  34417.347
3   10-14  35930.664
4   15-19  38741.140
5   20-24  42684.075
6   25-29  45270.948
7   30-34  43381.490
8   35-39  41102.569
9   40-44  41628.664
10  45-49  51613.906
11  50-54  64462.357
12  55-59  49560.164
13  60-64  45039.593
14  65-69  52077.711
15  70-74  47835.601
16  75-79  31555.465
17  80-84  17076.080
18  85-89   9482.847
19  90-94   2547.251
20  95-99    485.964
21   100+     69.658

In [14]:
df_2040M.rename(columns={'index': 'Age', 1391: '2040'}, inplace=True)
df_2040M

      Age       2040
0    Year   2040.000
1     0-4  33913.727
2     5-9  34417.347
3   10-14  35930.664
4   15-19  38741.140
5   20-24  42684.075
6   25-29  45270.948
7   30-34  43381.490
8   35-39  41102.569
9   40-44  41628.664
10  45-49  51613.906
11  50-54  64462.357
12  55-59  49560.164
13  60-64  45039.593
14  65-69  52077.711
15  70-74  47835.601
16  75-79  31555.465
17  80-84  17076.080
18  85-89   9482.847
19  90-94   2547.251
20  95-99    485.964
21   100+     69.658

In [15]:
df_2040M.drop(df_2040M.index[0], inplace=True)
df_2040M

      Age       2040
1     0-4  33913.727
2     5-9  34417.347
3   10-14  35930.664
4   15-19  38741.140
5   20-24  42684.075
6   25-29  45270.948
7   30-34  43381.490
8   35-39  41102.569
9   40-44  41628.664
10  45-49  51613.906
11  50-54  64462.357
12  55-59  49560.164
13  60-64  45039.593
14  65-69  52077.711
15  70-74  47835.601
16  75-79  31555.465
17  80-84  17076.080
18  85-89   9482.847
19  90-94   2547.251
20  95-99    485.964
21   100+     69.658

In [16]:
df_2050M = df_CM[df_CM['Year'] == 2050].transpose().reset_index()
df_2050M

    index       1393
0    Year   2050.000
1     0-4  32547.114
2     5-9  33498.101
3   10-14  33816.969
4   15-19  34262.310
5   20-24  35610.869
6   25-29  38301.406
7   30-34  42215.617
8   35-39  44804.401
9   40-44  42909.125
10  45-49  40555.384
11  50-54  40852.943
12  55-59  50147.138
13  60-64  61429.722
14  65-69  45432.821
15  70-74  38357.413
16  75-79  38807.756
17  80-84  28845.432
18  85-89  13794.118
19  90-94   4486.171
20  95-99   1207.551
21   100+    132.073

In [19]:
df_2050M.rename(columns={'index': 'Age', 1393: '2050'}, inplace=True)
df_2050M

      Age       2050
0    Year   2050.000
1     0-4  32547.114
2     5-9  33498.101
3   10-14  33816.969
4   15-19  34262.310
5   20-24  35610.869
6   25-29  38301.406
7   30-34  42215.617
8   35-39  44804.401
9   40-44  42909.125
10  45-49  40555.384
11  50-54  40852.943
12  55-59  50147.138
13  60-64  61429.722
14  65-69  45432.821
15  70-74  38357.413
16  75-79  38807.756
17  80-84  28845.432
18  85-89  13794.118
19  90-94   4486.171
20  95-99   1207.551
21   100+    132.073

In [20]:
df_2050M.drop(df_2050M.index[0], inplace=True)
df_2050M

      Age       2050
1     0-4  32547.114
2     5-9  33498.101
3   10-14  33816.969
4   15-19  34262.310
5   20-24  35610.869
6   25-29  38301.406
7   30-34  42215.617
8   35-39  44804.401
9   40-44  42909.125
10  45-49  40555.384
11  50-54  40852.943
12  55-59  50147.138
13  60-64  61429.722
14  65-69  45432.821
15  70-74  38357.413
16  75-79  38807.756
17  80-84  28845.432
18  85-89  13794.118
19  90-94   4486.171
20  95-99   1207.551
21   100+    132.073

In [22]:
df_female = pd.read_excel('POPULATION_BY_AGE_FEMALE.xlsx', sheetname = 'MEDIUM VARIANT', skiprows=16)

In [23]:
df_CF = df_female[df_female['Region, subregion, country or area *']=='China']

In [24]:
df_CF.drop(df_CF.columns[[0, 1, 2, 3, 4]], axis=1, inplace=True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
df_CF.rename(columns={'Reference date (as of 1 July)': 'Year'}, inplace=True)
df_CF

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

,Year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
1386,2015,39795.349,38007.796,36568.711,37864.350,47942.119,62668.001,49655.795,46797.247,57936.823,...,39303.461,39404.820,26281.244,17424.808,12937.306,8184.782,3627.764,1183.112,271.489,38.283
1387,2020,37637.686,39707.230,37942.737,36439.076,37634.133,47671.974,62362.082,49390.655,46501.913,...,49140.059,37958.574,36959.164,23359.958,14152.161,9102.826,4586.670,1502.039,337.921,58.271
1388,2025,34274.487,37561.515,39646.021,37815.861,36222.547,37401.196,47424.634,62064.117,49098.295,...,59459.444,47579.481,35772.892,33142.508,19257.586,10186.430,5268.079,1975.571,446.992,76.231
1389,2030,31958.224,34209.688,37507.846,39522.496,37604.055,35999.958,37190.395,47191.148,61729.437,...,55874.085,57706.521,45039.969,32339.092,27699.838,14156.866,6075.698,2355.937,611.834,103.017
1390,2035,30826.734,31900.452,34162.702,37389.952,39312.383,37383.529,35798.824,36998.812,46937.481,...,44929.551,54335.206,54847.110,41028.944,27391.777,20800.741,8712.985,2828.784,762.829,144.822
1391,2040,30582.936,30773.332,31858.392,34050.241,37186.477,39093.873,37185.094,35618.713,36798.120,...,47533.391,43770.201,51828.841,50304.243,35167.344,20961.628,13167.493,4207.850,954.461,188.964
1392,2045,30519.664,30532.888,30734.668,31750.577,33854.678,36976.664,38897.744,37007.804,35432.242,...,59886.476,46387.757,41890.883,47835.834,43594.011,27388.830,13624.011,6584.141,1477.585,244.670
1393,2050,29872.046,30472.145,30496.250,30629.659,31560.740,33653.613,36790.221,38722.895,36824.631,...,45595.353,58539.637,44533.289,38883.891,41867.090,34495.462,18234.934,7034.758,2400.446,378.431
1394,2055,28616.276,29827.936,30438.196,30397.097,30451.244,31373.733,33483.683,36630.404,38544.277,...,35788.298,44634.225,56359.997,41550.861,34336.616,33607.116,23474.851,9698.069,2656.536,626.498
1395,2060,27309.420,28576.237,29796.692,30345.082,30228.832,30276.380,31217.423,33340.560,36469.064,...,34511.468,35082.525,43086.816,52844.939,37003.218,27940.399,23356.274,12849.195,3792.429,760.022
1396,2065,26330.428,27272.767,28547.932,29709.322,30186.783,30064.566,30131.307,31087.838,33198.802,...,35926.048,33876.947,33950.951,40583.732,47433.471,30496.531,19806.113,13139.772,5197.886,1082.209
1397,2070,25830.677,26296.819,27247.030,28466.851,29561.139,30032.577,29928.901,30012.003,30961.188,...,37663.421,35310.878,32860.955,32112.160,36691.248,39554.067,22018.800,11433.276,5490.191,1532.217
1398,2075,25527.233,25799.480,26273.407,27171.588,28328.864,29417.273,29905.430,29817.381,29895.972,...,35682.626,37062.664,34325.861,31202.228,29227.456,30936.800,29067.492,13037.552,4937.117,1762.905
1399,2080,25048.532,25498.301,25777.875,26203.652,27043.986,28195.829,29299.379,29801.346,29709.180,...,32522.549,35153.174,36103.832,32714.373,28581.874,24906.066,23125.568,17643.386,5816.703,1731.688
1400,2085,24313.011,25021.928,25478.405,25713.283,26085.553,26921.386,28087.789,29203.646,29700.806,...,30366.799,32074.344,34309.920,34527.661,30145.873,24597.261,18916.905,14369.995,8122.310,2007.570
1401,2090,23476.651,24288.576,25003.778,25418.872,25604.580,25972.963,26822.764,28000.582,29111.390,...,29357.813,29978.129,31360.710,32915.757,31990.008,26178.890,18959.078,12014.693,6814.396,2769.306
1402,2095,22752.369,23454.386,24272.220,24949.098,25319.156,25501.521,25883.225,26744.183,27917.617,...,29210.245,29010.528,29361.865,30178.267,30657.589,28025.943,20471.629,12305.579,5870.019,2695.800
1403,2100,22238.840,22732.177,23439.574,24222.703,24858.439,25225.440,25419.824,25812.327,26669.983,...,29237.580,28891.739,28460.490,28335.597,28246.131,27080.664,22216.164,13564.910,6188.231,2478.862

In [26]:
df_2020 = df_CF[df_CF['Year'] == 2020].transpose().reset_index()
df_2020

    index       1387
0    Year   2020.000
1     0-4  37637.686
2     5-9  39707.230
3   10-14  37942.737
4   15-19  36439.076
5   20-24  37634.133
6   25-29  47671.974
7   30-34  62362.082
8   35-39  49390.655
9   40-44  46501.913
10  45-49  57467.639
11  50-54  60545.612
12  55-59  49140.059
13  60-64  37958.574
14  65-69  36959.164
15  70-74  23359.958
16  75-79  14152.161
17  80-84   9102.826
18  85-89   4586.670
19  90-94   1502.039
20  95-99    337.921
21   100+     58.271

In [27]:
df_2020.rename(columns={'index': 'Age', 1387: '2020'}, inplace=True)
df_2020

      Age       2020
0    Year   2020.000
1     0-4  37637.686
2     5-9  39707.230
3   10-14  37942.737
4   15-19  36439.076
5   20-24  37634.133
6   25-29  47671.974
7   30-34  62362.082
8   35-39  49390.655
9   40-44  46501.913
10  45-49  57467.639
11  50-54  60545.612
12  55-59  49140.059
13  60-64  37958.574
14  65-69  36959.164
15  70-74  23359.958
16  75-79  14152.161
17  80-84   9102.826
18  85-89   4586.670
19  90-94   1502.039
20  95-99    337.921
21   100+     58.271

In [28]:
df_2020.drop(df_2020.index[0], inplace=True)
df_2020

      Age       2020
1     0-4  37637.686
2     5-9  39707.230
3   10-14  37942.737
4   15-19  36439.076
5   20-24  37634.133
6   25-29  47671.974
7   30-34  62362.082
8   35-39  49390.655
9   40-44  46501.913
10  45-49  57467.639
11  50-54  60545.612
12  55-59  49140.059
13  60-64  37958.574
14  65-69  36959.164
15  70-74  23359.958
16  75-79  14152.161
17  80-84   9102.826
18  85-89   4586.670
19  90-94   1502.039
20  95-99    337.921
21   100+     58.271

In [29]:
df_2030 = df_CF[df_CF['Year'] == 2030].transpose().reset_index()
df_2030

    index       1389
0    Year   2030.000
1     0-4  31958.224
2     5-9  34209.688
3   10-14  37507.846
4   15-19  39522.496
5   20-24  37604.055
6   25-29  35999.958
7   30-34  37190.395
8   35-39  47191.148
9   40-44  61729.437
10  45-49  48740.215
11  50-54  45653.489
12  55-59  55874.085
13  60-64  57706.521
14  65-69  45039.969
15  70-74  32339.092
16  75-79  27699.838
17  80-84  14156.866
18  85-89   6075.698
19  90-94   2355.937
20  95-99    611.834
21   100+    103.017

In [30]:
df_2030.rename(columns={'index': 'Age', 1389: '2030'}, inplace=True)
df_2030

      Age       2030
0    Year   2030.000
1     0-4  31958.224
2     5-9  34209.688
3   10-14  37507.846
4   15-19  39522.496
5   20-24  37604.055
6   25-29  35999.958
7   30-34  37190.395
8   35-39  47191.148
9   40-44  61729.437
10  45-49  48740.215
11  50-54  45653.489
12  55-59  55874.085
13  60-64  57706.521
14  65-69  45039.969
15  70-74  32339.092
16  75-79  27699.838
17  80-84  14156.866
18  85-89   6075.698
19  90-94   2355.937
20  95-99    611.834
21   100+    103.017

In [31]:
df_2030.drop(df_2030.index[0], inplace=True)
df_2030

      Age       2030
1     0-4  31958.224
2     5-9  34209.688
3   10-14  37507.846
4   15-19  39522.496
5   20-24  37604.055
6   25-29  35999.958
7   30-34  37190.395
8   35-39  47191.148
9   40-44  61729.437
10  45-49  48740.215
11  50-54  45653.489
12  55-59  55874.085
13  60-64  57706.521
14  65-69  45039.969
15  70-74  32339.092
16  75-79  27699.838
17  80-84  14156.866
18  85-89   6075.698
19  90-94   2355.937
20  95-99    611.834
21   100+    103.017

In [32]:
df_2040 = df_CF[df_CF['Year'] == 2040].transpose().reset_index()
df_2040

    index       1391
0    Year   2040.000
1     0-4  30582.936
2     5-9  30773.332
3   10-14  31858.392
4   15-19  34050.241
5   20-24  37186.477
6   25-29  39093.873
7   30-34  37185.094
8   35-39  35618.713
9   40-44  36798.120
10  45-49  46626.874
11  50-54  60737.128
12  55-59  47533.391
13  60-64  43770.201
14  65-69  51828.841
15  70-74  50304.243
16  75-79  35167.344
17  80-84  20961.628
18  85-89  13167.493
19  90-94   4207.850
20  95-99    954.461
21   100+    188.964

In [33]:
df_2040.rename(columns={'index': 'Age', 1391: '2040'}, inplace=True)
df_2040

      Age       2040
0    Year   2040.000
1     0-4  30582.936
2     5-9  30773.332
3   10-14  31858.392
4   15-19  34050.241
5   20-24  37186.477
6   25-29  39093.873
7   30-34  37185.094
8   35-39  35618.713
9   40-44  36798.120
10  45-49  46626.874
11  50-54  60737.128
12  55-59  47533.391
13  60-64  43770.201
14  65-69  51828.841
15  70-74  50304.243
16  75-79  35167.344
17  80-84  20961.628
18  85-89  13167.493
19  90-94   4207.850
20  95-99    954.461
21   100+    188.964

In [34]:
df_2040.drop(df_2040.index[0], inplace=True)
df_2040

      Age       2040
1     0-4  30582.936
2     5-9  30773.332
3   10-14  31858.392
4   15-19  34050.241
5   20-24  37186.477
6   25-29  39093.873
7   30-34  37185.094
8   35-39  35618.713
9   40-44  36798.120
10  45-49  46626.874
11  50-54  60737.128
12  55-59  47533.391
13  60-64  43770.201
14  65-69  51828.841
15  70-74  50304.243
16  75-79  35167.344
17  80-84  20961.628
18  85-89  13167.493
19  90-94   4207.850
20  95-99    954.461
21   100+    188.964

In [35]:
df_2050 = df_CF[df_CF['Year'] == 2050].transpose().reset_index()
df_2050

    index       1393
0    Year   2050.000
1     0-4  29872.046
2     5-9  30472.145
3   10-14  30496.250
4   15-19  30629.659
5   20-24  31560.740
6   25-29  33653.613
7   30-34  36790.221
8   35-39  38722.895
9   40-44  36824.631
10  45-49  35212.541
11  50-54  36244.263
12  55-59  45595.353
13  60-64  58539.637
14  65-69  44533.289
15  70-74  38883.891
16  75-79  41867.090
17  80-84  34495.462
18  85-89  18234.934
19  90-94   7034.758
20  95-99   2400.446
21   100+    378.431

In [36]:
df_2050.rename(columns={'index': 'Age', 1393: '2050'}, inplace=True)
df_2050

      Age       2050
0    Year   2050.000
1     0-4  29872.046
2     5-9  30472.145
3   10-14  30496.250
4   15-19  30629.659
5   20-24  31560.740
6   25-29  33653.613
7   30-34  36790.221
8   35-39  38722.895
9   40-44  36824.631
10  45-49  35212.541
11  50-54  36244.263
12  55-59  45595.353
13  60-64  58539.637
14  65-69  44533.289
15  70-74  38883.891
16  75-79  41867.090
17  80-84  34495.462
18  85-89  18234.934
19  90-94   7034.758
20  95-99   2400.446
21   100+    378.431

In [37]:
df_2050.drop(df_2050.index[0], inplace=True)
df_2050

      Age       2050
1     0-4  29872.046
2     5-9  30472.145
3   10-14  30496.250
4   15-19  30629.659
5   20-24  31560.740
6   25-29  33653.613
7   30-34  36790.221
8   35-39  38722.895
9   40-44  36824.631
10  45-49  35212.541
11  50-54  36244.263
12  55-59  45595.353
13  60-64  58539.637
14  65-69  44533.289
15  70-74  38883.891
16  75-79  41867.090
17  80-84  34495.462
18  85-89  18234.934
19  90-94   7034.758
20  95-99   2400.446
21   100+    378.431